/* Larger Views ******************************/
@media (min-width: 750px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;

    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        flex: 1 1 100%;
    }

    #menu {
        display: none; /* Hide hamburger button */
    }

    
}